.labelAbove {
  white-space: nowrap;
  font-size: 13px;
  display: flex;
  flex-direction: column;
  left: -5px;
  position: relative;
}

.labelAboveLabel {
  width: fit-content;
  line-height: 16px;
  margin: auto;
  color: var(--eventColor);
}

.labelAboveLabelContainer {
  width: 200px;
  text-align: center;
  margin-bottom: 4px;
  margin-left: calc(-100px + 5px);
}

.labelAboveBar {
  height: 10px;
  border-radius: 100%;
  width: 10px;
  background-color: var(--eventColor);
}
