.stepBars {
  position: absolute;
  height: 100%;
  width: 100%;
  pointer-events: none;
  top: 0;
  left: 0;
}

.stepBar {
  position: absolute;
  height: 100%;
  border-left: dashed 1px;
}

.stepBar-level0 {
  border-color: var(--primaryColor);
}

.stepBar-level0.important {
  border-color: var(--secondaryColor);
}

.stepBar-level1 {
  border-color: var(--secondaryColor);
}

.stepBar-level1.important {
  border-color: var(--tertiaryColor);
}

.stepBar-level2,
.stepBar-level3,
.stepBar-level4 {
  border-color: var(--tertiaryColor);
}
